footer {
   background-color: #D9D9D9;
   position:absolute;
   width:100%;
    
}
.footer_placement {
    margin-left: 40px;
    
    & a {
        text-decoration: none;
        color: blue;
        font-size: 15px;
        @media  screen and (min-width:769px) {
            font-size: 20px;
            
        }
        @media  screen and (min-width:1024px) {
            font-size: 25px;
            left:100px;
            margin-top: 100px;
        }
    }
    & p {
        color:rgba(0, 0, 0, 0.4);
        @media  screen and (min-width:769px) {
            font-size: 20px;
            
        }
        @media  screen and (min-width:1024px) {
            font-size: 25px;
            
        }
    }
}

