.section_form {
    text-align: center;

    &_message {
        width: 250px;
        text-align: center;
        margin: auto;
        @media  screen and (min-width:769px) {
            width: 500px;
        }
        @media  screen and (min-width:1024px) {
            width: 600px;
        }
    }
    &_message_input {
        height: 25px;
        font-size: 15px;
        width: 250px;
        margin-bottom: 10px;
        @media  screen and (min-width:769px) {
            width: 350px;
        }
        @media  screen and (min-width:1024px) {
            width: 250px;
            margin: 15px;
        }
    }
    &_message_textarea {
        font-size: 15px;
        width: 250px;
        resize: vertical;
        min-height: 100px;
        max-height: 300px;
        margin-bottom: 15px;
        @media  screen and (min-width:769px) {
            width: 350px;
            height: 200px;
        }
        @media  screen and (min-width:1024px) {
            width: 545px;
            margin-top: 15px;
        }
    }
    .button-blue {
        display: block;
        margin: auto;
        margin-bottom: 100px;
    }
}